@import "normalize.css";
@import "font-awesome.css";
body {
  font-family: Arial, Helvetica, "PingFang TC", "Microsoft JhengHei", sans-serif;
  font-size: 12px;
  background-color: #f74d62;
}
html,
body {
  height: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}
input,
textarea,
select,
input:focus,
textarea:focus,
select:focus {
  padding: 0;
  border: none;
  background-color: transparent;
  outline: 0;
  margin: 0;
  font-family: inherit;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-appearance: none;
}
input[type="button"] {
  cursor: pointer;
  padding: 0;
  border: none;
  background-color: transparent;
  outline: 0;
  margin: 0;
  font-family: inherit;
}
*:focus {
  outline: 0;
}
.wrap {
  width: 100%;
  overflow: hidden;
}
.main-container {
  width: 100%;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}
.main-container .inner {
  width: 768px;
  margin: 0 auto;
  position: relative;
}
header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
}
.logo {
  width: 220px;
  height: 140px;
  background-image: url(../images/logo-index.jpg);
  background-repeat: no-repeat;
}
footer {
  display: block;
  background-color: #d8283e;
  padding: 20px 0;
}
footer .copy {
  color: white;
  text-align: center;
  font-size: 18px;
  line-height: 1em;
  margin: 0 auto;
}
.hide-text {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-indent: 100%;
  text-align: left;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: 0 0;
}
.index-main {
  position: relative;
  width: 100%;
  height: 1140px;
  background-color: #0cc5b8;
  z-index: 5;
  overflow: visible;
}
.index-main .inner {
  height: 100%;
}
.index-main .index-block {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.index-main .bg-shine {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-image: url(../images/bg-shine.jpg);
  background-size: 100% 100%;
  background-position: center bottom;
  background-repeat: no-repeat;
}
.index-main .main-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-image: url(../images/title-main.png);
  background-position: center -10px;
}
.index-main .sub-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-image: url(../images/title-sub.png);
  background-position: center -10px;
}
.index-main .index-intro {
  position: absolute;
  bottom: -194px;
  leet: 0;
  width: 100%;
  height: 380px;
  z-index: 2;
  background-image: url(../images/obj-intro.png);
}
.index-main .obj-foods {
  position: absolute;
  top: 24.56%;
  left: 49.47%;
  margin-left: -450px;
  width: 900px;
  height: 900px;
  z-index: 4;
  background-image: url(../images/obj-foods.png);
  background-size: 100% 100%;
  background-position: center bottom;
  background-repeat: no-repeat;
}
.index-main .supermom {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  background-image: url(../images/obj-supermom.png);
  background-size: 100% 100%;
  background-position: center top;
  background-repeat: no-repeat;
}
.index-main .gogame-btn {
  position: absolute;
  z-index: 5;
  width: 100%;
  height: 17.55%;
  bottom: -290px;
  left: 0;
  background-image: url(../images/btn-gogame.png);
}
.ani {
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.fade-in {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -ms-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
.flash-in {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  -webkit-animation: flash-in-frame 0.5s;
  -moz-animation: flash-in-frame 0.5s;
  -ms-animation: flash-in-frame 0.5s;
  animation: flash-in-frame 0.5s;
}
@-webkit-keyframes flash-in-frame {
  0% {
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
  }
  33% {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
  }
  66% {
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
  }
  100% {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
  }
}
@-moz-keyframes flash-in-frame {
  0% {
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
  }
  33% {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
  }
  66% {
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
  }
  100% {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
  }
}
@-ms-keyframes flash-in-frame {
  0% {
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
  }
  33% {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
  }
  66% {
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
  }
  100% {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
  }
}
@-o-keyframes flash-in-frame {
  0% {
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
  }
  33% {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
  }
  66% {
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
  }
  100% {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
  }
}
@keyframes flash-in-frame {
  0% {
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
  }
  33% {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
  }
  66% {
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
  }
  100% {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
  }
}
.zoom-in {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  -webkit-animation: zoom-in-frame 0.5s;
  -moz-animation: zoom-in-frame 0.5s;
  -ms-animation: zoom-in-frame 0.5s;
  animation: zoom-in-frame 0.5s;
}
@-webkit-keyframes zoom-in-frame {
  0% {
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -o-transform: scale(2);
    transform: scale(2);
  }
  100% {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes zoom-in-frame {
  0% {
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -o-transform: scale(2);
    transform: scale(2);
  }
  100% {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@-ms-keyframes zoom-in-frame {
  0% {
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -o-transform: scale(2);
    transform: scale(2);
  }
  100% {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@-o-keyframes zoom-in-frame {
  0% {
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -o-transform: scale(2);
    transform: scale(2);
  }
  100% {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes zoom-in-frame {
  0% {
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -o-transform: scale(2);
    transform: scale(2);
  }
  100% {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
.zoom-in-out {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  -webkit-animation: zoom-frame 0.7s;
  -moz-animation: zoom-frame 0.7s;
  -ms-animation: zoom-frame 0.7s;
  animation: zoom-frame 0.7s;
}
@-webkit-keyframes zoom-frame {
  0% {
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -o-transform: scale(2);
    transform: scale(2);
  }
  90% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes zoom-frame {
  0% {
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -o-transform: scale(2);
    transform: scale(2);
  }
  90% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@-ms-keyframes zoom-frame {
  0% {
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -o-transform: scale(2);
    transform: scale(2);
  }
  90% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@-o-keyframes zoom-frame {
  0% {
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -o-transform: scale(2);
    transform: scale(2);
  }
  90% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes zoom-frame {
  0% {
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -o-transform: scale(2);
    transform: scale(2);
  }
  90% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
.zoom-out-in {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  -webkit-animation: zoom-out-in-frame 0.7s;
  -moz-animation: zoom-out-in-frame 0.7s;
  -ms-animation: zoom-out-in-frame 0.7s;
  animation: zoom-out-in-frame 0.7s;
}
@-webkit-keyframes zoom-out-in-frame {
  0% {
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }
  90% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes zoom-out-in-frame {
  0% {
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }
  90% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@-ms-keyframes zoom-out-in-frame {
  0% {
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }
  90% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@-o-keyframes zoom-out-in-frame {
  0% {
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }
  90% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes zoom-out-in-frame {
  0% {
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }
  90% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
.left-in {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  -webkit-animation: leftin-frame 0.3s;
  -moz-animation: leftin-frame 0.3s;
  -ms-animation: leftin-frame 0.3s;
  animation: leftin-frame 0.3s;
}
@-webkit-keyframes leftin-frame {
  0% {
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
@-moz-keyframes leftin-frame {
  0% {
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
@-ms-keyframes leftin-frame {
  0% {
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
@-o-keyframes leftin-frame {
  0% {
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes leftin-frame {
  0% {
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
.index-sub {
  width: 100%;
  height: auto;
  min-height: 200px;
  background-color: #f74d62;
}
.index-sub .inner {
  padding-top: 300px;
  width: 680px;
}
.index-sub .rule-title {
  display: block;
  font-size: 30px;
  color: white;
  margin: .5em auto;
}
.index-sub .rule-list,
.index-sub .rule-sublist,
.index-sub .hint-list {
  list-style: none;
  padding: 0;
  font-size: 22px;
  line-height: 1.5em;
  color: white;
}
.index-sub .rule-list p,
.index-sub .rule-sublist p,
.index-sub .hint-list p {
  color: white;
  margin: 0;
}
.index-sub .rule-list strong,
.index-sub .rule-sublist strong,
.index-sub .hint-list strong {
  font-weight: normal;
  color: #ffb400;
}
.index-sub .rule-list img,
.index-sub .rule-sublist img,
.index-sub .hint-list img {
  float: right;
  margin-top: -1.5em;
  margin-left: 1em;
  margin-right: 1em;
}
.index-sub .rule-list {
  margin-bottom: 60px;
}
.index-sub .rule-item {
  display: block;
  position: relative;
  padding-left: 1.7em;
  padding-bottom: .7em;
  border-bottom: 2px dotted white;
  margin-bottom: .7em;
}
.index-sub .rule-item:before {
  position: absolute;
  display: inline-block;
  font-family: 'FontAwesome';
  width: 1em;
  height: 1.5em;
  left: 0.2em;
  top: 0;
  content: "\f004";
}
.index-sub .rule-sublist {
  counter-reset: my-badass-counter;
}
.index-sub .rule-sublist li {
  display: block;
  position: relative;
  padding-left: 1.5em;
  margin-bottom: .7em;
  counter-increment: my-badass-counter;
}
.index-sub .rule-sublist li:before {
  position: absolute;
  display: inline-block;
  width: 1em;
  height: 1.5em;
  left: 0.2em;
  top: 0;
  content: counter(my-badass-counter) ".";
}
.index-sub .hint-list {
  counter-reset: my-badass-counter2;
  margin-bottom: 40px;
}
.index-sub .hint-item {
  display: block;
  position: relative;
  padding-left: 1.5em;
  margin-bottom: .7em;
  counter-increment: my-badass-counter2;
}
.index-sub .hint-item:before {
  position: absolute;
  display: inline-block;
  width: 1em;
  height: 1.5em;
  left: 0.2em;
  top: 0;
  content: counter(my-badass-counter2) ".";
}
@media (max-height: 1300px) {
  .index-main {
    height: 912px;
  }
  .index-main .main-title,
  .index-main .sub-title,
  .index-main .supermom {
    width: 80%;
    left: 10%;
  }
  .index-main .obj-foods {
    top: 24.56%;
    width: 810px;
    height: 810px;
    margin-left: -405px;
  }
  .index-main .index-intro {
    bottom: -155.2px;
    left: 10%;
    width: 80%;
    height: 304px;
    z-index: 2;
  }
  .index-main .gogame-btn {
    width: 80%;
    left: 10%;
    height: 17.55%;
    bottom: -232px;
  }
  .index-sub .inner {
    padding-top: 240px;
  }
}
@media (max-height: 1100px) and (max-device-pixel-ratio: 1.1) {
  .index-main {
    height: 798px;
  }
  .index-main .main-title,
  .index-main .sub-title,
  .index-main .supermom {
    width: 70%;
    left: 15%;
  }
  .index-main .obj-foods {
    top: 24.56%;
    width: 720px;
    height: 720px;
    margin-left: -360px;
  }
  .index-main .index-intro {
    bottom: -135.8px;
    left: 15%;
    width: 70%;
    height: 266px;
    z-index: 2;
  }
  .index-main .gogame-btn {
    width: 70%;
    left: 15%;
    height: 17.55%;
    bottom: -203px;
  }
  .index-sub .inner {
    padding-top: 210px;
  }
}
.page-cont {
  background-image: url(../images/bg-page.jpg);
  background-position: 30px center;
}
.page-cont header .logo {
  background-image: url(../images/logo.png);
}
.bottom-btns {
  display: block;
  text-align: center;
  margin: 60px auto 40px auto;
}
.bottom-btns a {
  display: inline-block;
  margin: 0 5px;
  width: 285px;
  height: 84px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.bottom-btns a .btn-text {
  display: block;
  height: 1em;
  margin-top: 17px;
  color: white;
  font-size: 36px;
  text-align: center;
}
.bottom-btns a.arrow-l-btn {
  background-image: url(../images/btn-arrow-l.png);
}
.bottom-btns a.arrow-l-btn .btn-text {
  padding-left: 90px;
  text-align: left;
}
.bottom-btns a.arrow-r-btn {
  background-image: url(../images/btn-arrow-r.png);
}
.bottom-btns a.arrow-r-btn .btn-text {
  padding-right: 115px;
  text-align: right;
}
.bottom-btns a.share-btn {
  background-image: url(../images/btn-blue.png);
}
.bottom-btns a.share-btn .btn-text {
  text-align: center;
}
.bottom-btns a.yellow-btn {
  background-image: url(../images/btn-yellow.png);
}
.bottom-btns a.yellow-btn .btn-text {
  text-align: center;
}
@media (min-width: 1025px) and (-webkit-max-device-pixel-ratio: 1.1) {
  .bottom-btns {
    margin: 10px auto;
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    -ms-transform: scale(0.6);
    -o-transform: scale(0.6);
    transform: scale(0.6);
  }
  .step-3 .bottom-btns {
    margin: 10px auto!important;
  }
}
/* game */
.game-block {
  width: 100%;
  min-height: 200px;
}
.game-block .cont-head {
  position: relative;
  height: 290px;
  margin-top: 110px;
}
.game-block .step-title {
  display: block;
  position: relative;
  width: 430px;
  height: 167px;
  top: 90px;
}
.game-block .cont-main {
  position: relative;
  width: 100%;
  min-height: 200px;
  background-image: url(../images/bg-cont.jpg);
}
.game-block .mom {
  position: absolute;
  width: 260px;
  height: 460px;
  top: -340px;
  right: 35px;
  z-index: 10;
}
.game-block .mom div {
  width: 260px;
  height: 460px;
  background-repeat: no-repeat;
  background-size: 260px 460px;
  background-position: 0 0;
  position: absolute;
  top: 0;
  left: 0;
}
.game-block .mom .face {
  background-image: url(../images/mom-face.png);
}
.game-block .mom .meal {
  background-image: url(../images/mom-meal-0.png);
}
.game-block .mom .hair {
  z-index: 3;
  background-image: url(../images/mom-hair-1.png);
}
.game-block .mom .eye {
  background-image: url(../images/mom-eye-1.png);
}
.game-block .mom .nose {
  background-image: url(../images/mom-nose-1.png);
}
.game-block .mom .mouth {
  background-image: url(../images/mom-mouth-1.png);
}
.game-block .mom .glass {
  background-image: url(../images/mom-glass-2.png);
}
.game-block ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.step-1 .step-title {
  background-image: url(../images/title-step1.png);
}
.step-1 .cont-main {
  padding-top: 110px;
}
.step-1 .parts {
  width: 685px;
  margin: 0 auto;
  overflow: hidden;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 0 40px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 0 0 40px 5px;
  box-shadow: rgba(0, 0, 0, 0.4) 0 0 40px 5px;
}
.step-1 .parts-tablist {
  display: table;
  width: 100%;
  height: 95px;
  font-size: 0;
  white-space: nowrap;
  background-color: black;
  -webkit-border-radius: 20px 20px 0 0;
  -moz-border-radius: 20px 20px 0 0;
  border-radius: 20px 20px 0 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.step-1 .parts-tabitem {
  display: table-cell;
  text-align: center;
}
.step-1 .parts-tabitem a {
  display: inline-block;
  margin-top: 22.5px;
  height: 50px;
  font-size: 24px;
  line-height: 50px;
  padding: 0 15px;
  color: white;
  width: 2em;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.step-1 .parts-tabitem a.on,
.step-1 .parts-tabitem a:hover {
  background-color: #f74d62;
}
.step-1 .parts-tabitem:nth-child(6) a {
  width: 4em;
}
.step-1 .parts-list {
  background-color: white;
  -webkit-border-radius: 0 0 20px 20px;
  -moz-border-radius: 0 0 20px 20px;
  border-radius: 0 0 20px 20px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  overflow: hidden;
  padding-top: 10px;
}
.step-1 .parts-item {
  display: block;
  float: left;
  width: 215px;
  height: 215px;
  margin-left: 10px;
  margin-bottom: 10px;
}
.step-1 .part {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #e7e7e7;
  box-sizing: border-box;
  border: 5px solid transparent;
  background-size: 90% auto;
  background-position: center -30px;
  background-repeat: no-repeat;
}
.step-1 .part.on,
.step-1 .part:hover {
  border: 5px solid #f06277;
  background-color: white;
}
.step-1 .meal .part {
  background-size: 120% auto;
  background-position: center -253px;
}
.step-2 .step-title {
  background-image: url(../images/title-step2.png);
}
.step-2 .cont-main {
  padding-top: 55px;
}
.step-2 .card-content {
  display: block;
  width: 685px;
  height: 647px;
  margin: 0 auto;
  background-image: url(../images/bg-paper.jpg);
  background-size: 100% 100%;
  overflow: hidden;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 0 40px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 0 0 40px 5px;
  box-shadow: rgba(0, 0, 0, 0.4) 0 0 40px 5px;
}
.step-2 .card-textarea {
  display: block;
  width: 538px;
  height: 340px;
  color: #424242;
  font-size: 30px;
  line-height: 56.66666667px;
  margin: 4px 77px 0 70px;
  overflow: hidden;
  resize: none;
}
.step-2 .des {
  margin: 153.33333333px 77px 0 70px;
  color: #424242;
  font-size: 30px;
  line-height: 56.66666667px;
}
.step-2 .hint {
  display: block;
  margin: 30px auto;
  text-align: center;
  line-height: 1em;
  font-size: 30px;
  color: white;
}
.step-2 .bottom-btns {
  margin-top: 0;
}
.step-3 .step-title {
  background-image: url(../images/title-step3.png);
}
.step-3 .cont-main {
  padding-top: 55px;
}
.step-3 .data-form {
  display: block;
  width: 685px;
  overflow: hidden;
  margin: 0 auto;
  background-image: url(../images/bg-pattern.jpg);
  background-position: center center;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 0 40px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 0 0 40px 5px;
  box-shadow: rgba(0, 0, 0, 0.4) 0 0 40px 5px;
}
.step-3 ul.form-list {
  display: block;
  width: 605px;
  margin: 20px 15px;
  padding: 20px;
  border: 5px solid #f06277;
}
.step-3 .form-item {
  display: block;
  width: 100%;
  overflow: hidden;
  margin-bottom: 30px;
}
.step-3 .form-item label {
  display: block;
  width: 100%;
  line-height: 1.2em;
  margin-bottom: 5px;
  color: #424242;
  font-size: 30px;
  float: left;
}
.step-3 .form-item .input-f {
  padding: 0 10px;
  box-sizing: border-box;
  width: 100%;
  display: block;
  height: 60px;
  color: #424242;
  font-size: 26px;
  float: left;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background-color: #faf1e9;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 2px inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 2px inset;
  box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 2px inset;
}
.step-3 .form-item .input-f:placeholder {
  color: #9e9e9e;
}
.step-3 .form-item .hint {
  display: block;
  float: left;
  color: #424242;
  font-size: 18px;
  line-height: 1.3em;
  margin-top: 10px;
  margin-bottom: 0;
}
.step-3 .form-item input[type="checkbox"] {
  display: none;
}
.step-3 .form-item input[type="checkbox"] + label {
  display: inline-block;
  font-size: 18px;
}
.step-3 .form-item input[type="checkbox"] + label a {
  color: inherit;
  text-decoration: underline;
}
.step-3 .form-item input[type="checkbox"] + label:before {
  content: "";
  cursor: pointer;
  display: inline-block;
  vertical-align: -6px;
  margin-right: 5px;
  width: 27px;
  height: 27px;
  background-image: url(../images/icon-check.png);
  background-position: 0 -27px;
  background-repeat: no-repeat;
}
.step-3 .form-item input[type="checkbox"]:checked + label:before {
  background-position: 0 0;
}
.step-3 .form-item.check-item {
  text-align: center;
  margin-top: -10px;
  margin-bottom: 0;
}
.step-3 .select-item {
  display: block;
  float: left;
  width: 33%;
  overflow: hidden;
  position: relative;
}
.step-3 .select-item + .select-item {
  margin-left: .5%;
}
.step-3 select,
.step-3 .customSelect {
  /* This is the default class that is used */
  /* Put whatever custom styles you want here */
  padding: 0 10px;
  box-sizing: border-box;
  width: 100%;
  display: block;
  line-height: 60px;
  height: 60px;
  color: #424242;
  font-size: 26px;
  margin-bottom: 10px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background-color: #faf1e9;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 2px inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 2px inset;
  box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 2px inset;
  background-image: url(../images/icon-arrow.png);
  background-repeat: no-repeat;
  background-position: right center;
  cursor: pointer;
}
.step-3 select .customSelectInner,
.step-3 .customSelect .customSelectInner {
  min-width: 90%;
}
.step-3 .customSelect.customSelectDisabledOption {
  /* Styles for when the selected item is a disabled one */
  color: #9e9e9e;
}
.step-3 .bottom-btns {
  margin: 40px auto;
}
.step-3 .bottom-btns a.cancel-btn .btn-text {
  padding-left: 120px;
}
.step-4 .step-title {
  width: 100%;
  height: 269px;
  top: 0;
  left: 0;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/title-step4.png);
}
.step-4 .cont-main {
  position: relative;
  padding-top: 55px;
  min-height: 955px;
}
.step-4 .finish-title {
  margin: 40px auto 0 auto;
  display: block;
  font-size: 36px;
  line-height: 1.5em;
  color: white;
  text-align: center;
}
.step-4 .finish-card {
  position: absolute;
  display: block;
  width: 898px;
  height: 746px;
  top: 170px;
  left: 50%;
  margin-left: -449px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url(../images/pic-card.png);
}
.step-4 .bottom-btns {
  display: block;
  width: 100%;
  margin: 0;
  position: absolute;
  top: 770px;
  left: 0;
  z-index: 10;
}
.step-4 footer {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
}
.noscroll {
  overflow: hidden;
}
.box-wrap {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.7);
}
.box-wrap .light-box {
  position: relative;
  width: 685px;
  margin: 0 auto;
}
.box-wrap .close-btn {
  position: absolute;
  top: -40px;
  right: -30px;
  display: block;
  width: 30px;
  height: 30px;
}
.box-wrap .close-btn:before {
  content: "Ｘ";
  font-size: 30px;
  color: white;
}
.privacy-block {
  margin: 100px auto 20px auto;
  width: 585px;
  padding: 10px 50px 50px 50px;
  background-image: url(../images/bg-pattern.jpg);
  background-position: center;
  overflow: hidden;
}
.privacy-block .privacy-title {
  width: 100%;
  height: 257px;
  background-size: 100% auto;
  background-image: url(../images/title-privacy.png);
}
.privacy-block .privacy-cont p {
  font-size: 16px;
  line-height: 2em;
  color: black;
  margin: 0;
}
.privacy-block .privacy-cont p strong {
  display: block;
  font-size: 20px;
  margin-bottom: 1em;
}
.privacy-block .privacy-cont .inline-list {
  font-size: 16px;
  line-height: 2em;
  color: black;
  padding: 0;
  margin: 0;
  list-style: none;
}
.privacy-block .privacy-cont .inline-list li {
  display: block;
  position: relative;
  padding-left: 4em;
}
.privacy-block .privacy-cont .inline-list span {
  display: inline-block;
  position: absolute;
  left: 1em;
  top: 0;
}
.full-wrap {
  min-height: 100%;
  background-image: url(../images/bg-page.jpg);
  background-position: 30px center;
  position: relative;
}
.full-wrap .page-cont.article-cont {
  background-image: none;
  padding-bottom: 60px;
}
.full-wrap > footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}
header .logo.mini-logo {
  width: 132px;
  height: 84px;
}
.awards-pic {
  position: absolute;
  top: -110px;
  right: 0;
}
.awards-block {
  margin: 90px auto 20px auto;
  width: 585px;
  padding: 15px 35px 0px 35px;
  background-image: url(../images/bg-pattern.jpg);
  background-position: center;
  overflow: hidden;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 0 40px;
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 0 0 40px;
  box-shadow: rgba(0, 0, 0, 0.4) 0 0 40px;
}
.awards-block .awards-title {
  margin: 0 15px 10px 15px;
  font-size: 30px;
  color: #f74d62;
}
.awards-block .awards-subtitle {
  margin: 0 15px 10px 15px;
  font-size: 22px;
  line-height: 1.4em;
  color: black;
}
.awards-table {
  width: 100%;
  margin-bottom: 30px;
}
.awards-table tr {
  width: 100%;
}
.awards-table tr:nth-child(even) td {
  background-color: #ede1d8;
}
.awards-table td {
  width: 33.33%;
  height: 30px;
  vertical-align: middle;
  color: #424242;
  font-size: 18px;
  padding: 0 15px;
}
.scroll {
  clear: both;
}
.scroll .viewport {
  width: 90%;
  height: 170px;
  border-left: 15px solid #dcdcdc;
  border-top: 15px solid #dcdcdc;
  border-bottom: 15px solid #dcdcdc;
  overflow: hidden;
  position: relative;
}
.scroll .overview {
  list-style: none;
  position: absolute;
  left: 0;
  top: 0;
}
.scroll .thumb .end,
.scroll .thumb {
  background-color: #959595;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.scroll .scrollbar {
  position: absolute;
  right: 0;
  top: 0;
  width: 15px;
}
.scroll .track {
  height: 100%;
  width: 13px;
  position: relative;
  padding: 0 1px;
}
.scroll .thumb {
  height: 20px;
  width: 13px;
  cursor: pointer;
  overflow: hidden;
  position: absolute;
  top: 0;
}
.scroll .thumb .end {
  overflow: hidden;
  height: 5px;
  width: 13px;
}
.scroll .disable {
  display: none;
}
