extend _tpl.jade
block yield



    .wrap
        h1.main-title 「台湾居民未往來大陆贱民证」申辦處
        .inner
            #step1
                .intro
                    h2.form-title 「台湾居民未往來大陆贱民证」<br>申請表格
                    p.msg 請點擊下方「上傳照片」按鈕選擇您欲使用的相片，上傳完畢後可拖曳調整。
                    p.msg 調整完畢後，請點擊「遞交申請」。
                .make-block
                    input.uploadphoto#upload(type="file",accept="image/*",style="display:none;")
                    label#fileLabel(for="upload")
                    .photo-container
                        .photo-wrap
                            canvas#c
                            .frame
                    .control
                        a.upload-btn(href="javascript:;") 上傳照片
                        a.ok-btn(href="javascript:;") 遞交申請

            #step2(style="display:none;")
                .intro
                    h2.form-title 您的「台湾居民未往來大陆贱民证」已申辦完成。
                    p.msg(style="text-align:center;") 點擊「完成手續」或右鍵另存即可下載領取此證自由使用。
                .make-block
                    .card
                        img.card-pic(src="", alt="")
                    .control
                        a.re-btn(href="index.html") 重新申辦
                        a.download-btn(href="javascript:;", download="untouchable.png") 完成手續



    script.
        var canvas;
        var isCanvasCreated = false;
        var ctx;
        var photo;
        $(document).ready(function(){
            setCanvas();
           
            //照片上傳
            $('.upload-btn').click(function(){$('#upload').trigger('click');});
            $('.uploadphoto').on('change',function(){
                
                if(isCanvasCreated){
                    canvas.clear().renderAll();
                }
                readURL(this);
                
            });

            $('.ok-btn').click(function(){

                canvas.deactivateAll().renderAll();
                //if($('body #tempIfm').length>0) $('body #tempIfm').remove();
                
                html2canvas($('.photo-container'),{
                    onrendered: function(canvas){
                        var tempImg = canvas.toDataURL("image/png");
                        saveAs(tempImg, 'untouchable.png');
                        //$('.download-btn').attr('href',tempImg);
                        //- url = tempImg.replace(/^data:image\/[^;]/, 'data:application/octet-stream');
                        //- $ifm = $('<iframe id="tempIfm" style="display:none;">');
                        //- $ifm.attr('src',url);
                        //- $('body').append($ifm);
                        //window.open(url);
                        $('#step1').hide();
                    }
                });
            })


            $('.download-btn').click(function(e){
                var ua = window.navigator.userAgent;
                var msie = ua.indexOf("MSIE ");
                var edge = ua.indexOf('Edge/');
                var trident = ua.indexOf('Trident/');
                if (msie > 0 || trident > 0 || edge >0){
                    e.preventDefault();
                    var blobObject = dataURItoBlob($(this).attr('href'))
                    window.navigator.msSaveBlob(blobObject, 'untouchable.png');
                }
                //- var a = document.createElement('a');
                //- var $download = $(this).attr('download');
                //- alert(typeof $download);
                //- if(typeof $download !== typeof undefined){
                //-     // download attribute is supported
                //-     alert('yes');
                //- }
                //- else{
                //-     // download attribute is not supported
                //-     e.preventDefault();
                //-     alert('no');
                //-     var blobObject = dataURItoBlob($(this).attr('href'))
                //-     window.navigator.msSaveBlob(blobObject, 'untouchable.png');
                //-     //location.href = $(this).attr('href');
                //- }
            })
            

        });

        function saveAs(uri, filename) {
            var link = $('.download-btn');
            //if (typeof link.download === 'string') {
            link.attr('href',uri);
            link.attr('download',filename);
            $('.card-pic').attr('src',uri);
            $('#step2').fadeIn();
            //remove the link when done
            //document.body.removeChild(link);
            //} else {
            //window.open(uri);
            //}
        }
        function dataURItoBlob(dataURI) {
            // convert base64/URLEncoded data component to raw binary data held in a string
            var byteString;
            if (dataURI.split(',')[0].indexOf('base64') >= 0)
                byteString = atob(dataURI.split(',')[1]);
            else
                byteString = unescape(dataURI.split(',')[1]);

            // separate out the mime component
            var mimeString = dataURI.split(',')[0].split(':')[1].split(';')[0];

            // write the bytes of the string to a typed array
            var ia = new Uint8Array(byteString.length);
            for (var i = 0; i < byteString.length; i++) {
                ia[i] = byteString.charCodeAt(i);
            }

            return new Blob([ia], {type:mimeString});
        }


        function readURL(input) {
            if (input.files && input.files[0]) {
                var file = input.files[0];
                var reader = new FileReader();
                var imgurl;
                reader.onload = function (e) {
                    console.log(input.files[0])
                    var exif = EXIF.readFromBinaryFile(new BinaryFile(e.target.result));

                    var tmp_canvas = document.createElement('canvas');
                    window.mp = new MegaPixImage(input.files[0]);
                    
                    mp.render(tmp_canvas, {
                        orientation: exif.Orientation,
                        quality: 0.8
                    });

                    setTimeout(function () {
                        imgurl = tmp_canvas.toDataURL("image/jpeg", 0.8);
                        fabric.Image.fromURL(imgurl, function (img) {
                            if (img.width > img.height) {
                                var ratio = img.width / img.height;
                                img.height = $('.photo-wrap').height();
                                img.width = img.height * ratio;
                                img.left = -(img.width - $('.photo-wrap').width()) / 2;
                            }
                            else {
                                var ratio = img.height / img.width;
                                img.width = $('.photo-wrap').width();
                                img.height = img.width * ratio;
                                img.top = -(img.height - $('.photo-wrap').height()) / 2;
                            }
                            photo = img;
                            canvas.add(img);
                            //$('.loading').fadeOut();
                            
                        });
                    }, 500);
                };

                reader.readAsDataURL(input.files[0]);
            }
            
        }
        function setCanvas() {
            
            

            canvas = new fabric.Canvas('c', {
                width: $('.photo-wrap').width(),
                height: $('.photo-wrap').height(),
                selection: false, //set to false if you want to disable grouping selection
                controlsAboveOverlay: false,
                preserveObjectStacking: true
            });
            ctx = canvas.getContext('2d');

            isCanvasCreated = true;

            canvas.on({
                'touch:gesture': function() {
                    var text = document.createTextNode(' Gesture ');
                    
                },
                'touch:drag': function() {
                    var text = document.createTextNode(' Dragging ');
                   
                }
            });
            

        }
